[workspace]
members = [
    "alloc",
    "util",
    "hal-core",
    "hal-x86_64",
    "inoculate"
]

[package]
name = "mycelium-kernel"
version = "0.0.1"
authors = ["Eliza Weisman <eliza@elizas.website>"]
edition = "2018"

[lib]
name = "mycelium_kernel"
harness = false

[[bin]]
name = "mycelium_kernel"
path = "src/main.rs"
test = false

[dependencies]
hal-core = { path = "hal-core" }
mycelium-alloc = { path = "alloc", features = ["buddy", "bump"] }
mycelium-util = { path = "util" }
rlibc = "1.0"

[target.'cfg(target_arch = "x86_64")'.dependencies]
bootloader = {version = "0.9.16", features = ["map_physical_memory"] }
hal-x86_64 = { path = "hal-x86_64" }

[dependencies.tracing]
version = "0.1"
default_features = false
features = ["attributes"]

[dependencies.wasmi]
git = "https://github.com/mystor/wasmi"
branch = "mycelium"
default-features = false
features = ["core"]

[build-dependencies]
wat = "1.0"

[package.metadata.bootimage]
test-success-exit-code = 33 # (0x10 << 1) | 1
test-args = [
    "-device", "isa-debug-exit,iobase=0xf4,iosize=0x04",
    "-serial", "stdio", "-display", "none"
]

[package.metadata.target.'cfg(target_arch = "x86_64")'.cargo-xbuild]
memcpy = true
sysroot_path = "target/x86_64/sysroot"
