[workspace]
members = [
    "alloc",
    "util",
    "hal-core",
    "hal-x86_64",
    "inoculate",
    "mycotest",
]

[package]
name = "mycelium-kernel"
version = "0.0.1"
authors = ["Eliza Weisman <eliza@elizas.website>"]
edition = "2018"

[lib]
name = "mycelium_kernel"
harness = false

[[bin]]
name = "mycelium_kernel"
path = "src/main.rs"
test = false

[dependencies]
hal-core = { path = "hal-core" }
mycelium-alloc = { path = "alloc", features = ["buddy", "bump"] }
mycelium-util = { path = "util" }
rlibc = "1.0"
# NOTE FOR FUTURE ELIZAS WHO ARE MESSING WITH THIS: the bootloader crate's build
# script is not that good, and breaks if you put this in `cfg(...).dependencies`
# instead of normal [dependencies]. don't move this.
bootloader = { version = "0.10.6" }

[target.'cfg(target_arch = "x86_64")'.dependencies]
hal-x86_64 = { path = "hal-x86_64" }

[dependencies.tracing]
version = "0.1"
default_features = false
features = ["attributes"]

[dependencies.wasmi]
git = "https://github.com/mystor/wasmi"
branch = "mycelium"
default-features = false
features = ["core"]

[build-dependencies]
wat = "1.0"

[package.metadata.bootloader]
map-physical-memory = true
map-page-table-recursively = true
map-framebuffer = true
physical-memory-offset = 0x0000_4000_0000_0000

[package.metadata.target.'cfg(target_arch = "x86_64")'.cargo-xbuild]
memcpy = true
sysroot_path = "target/x86_64/sysroot"
