[package]
name = "mycelium-util"
version = "0.1.0"
authors = ["Eliza Weisman <eliza@elizas.website>"]
edition = "2018"

# See more keys and their definitions at
# https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
loom = { version = "0.2.14", optional = true }

[dev-dependencies]
loom = "0.2.14"
