[package]
name = "inoculate"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at
# https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
structopt = "0.3"
tracing = "0.1.23"
tracing-subscriber = "0.2"
tracing-error = "0.1"
color-eyre = "0.5"
bootloader-locator = "0.0.4"
locate-cargo-manifest = "0.2"
wait-timeout = "0.2"
owo-colors = "2.0.0"
atty = "0.2"