[profile.default]
# if a test takes more than 2 mins to run, assume it's hung and fail it
slow-timeout = { period = "1m", terminate-after = 2 }

[profile.loom]
# loom tests might take a long time; don't have `nextest` print "slow" messages.
slow-timeout = { period = "10m" }
failure-output = "immediate"

[profile.ci]
# Print out output for failing tests as soon as they fail, and also at the end
# of the run (for easy scrollability).
failure-output = "immediate-final"
# Do not cancel the test run on the first failure.
fail-fast = false
retries = 2