name: CI

on: [push]

jobs:
  check-host:
    name: cargo check (host)
    runs-on: ubuntu-latest
    steps:
    - name: install rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        override: true
    - uses: actions/checkout@v2
    - name: run cargo check
      uses: actions-rs/cargo@v1.0.1
      with:
        command: check
        args: --all --all-features

  rustfmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        components: rustfmt
        override: true
    - uses: actions/checkout@v2
    - name: run rustfmt
      uses: actions-rs/cargo@v1.0.1
      with:
        command: fmt
        args: --all -- --check

  test-host:
    runs-on: ubuntu-latest
    name: cargo test (host)
    needs: check-host
    steps:
    - name: install rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        override: true
    - uses: actions/checkout@v2
    - name: run host tests
      uses: actions-rs/cargo@v1.0.1
      with:
        command: test
        args: --all --all-features

  build-x64:
    name: cargo bootimage (cross x64)
    runs-on: ubuntu-latest
    needs: check-host
    steps:
    - name: install rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        components: rust-src, llvm-tools-preview
        override: true
    - name: install cargo-bootimage
      uses: actions-rs/install@v0.1.2
      with:
        crate: bootimage
        version: latest
        use-tool-cache: true
    - uses: actions/checkout@v2
    - name: x86_64 boot image
      uses: actions-rs/cargo@v1.0.1
      with:
        command: bootimage-x64

  test-x64:
    name: cargo test (cross x64)
    runs-on: ubuntu-latest
    needs: check-host
    steps:
    - name: install rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        components: rust-src, llvm-tools-preview
        override: true
    - name: install cargo-bootimage
      uses: actions-rs/install@v0.1.2
      with:
        crate: bootimage
        version: latest
        use-tool-cache: true
    - uses: actions/checkout@v2
    - name: install qemu
      run: |
        sudo apt-get update
        sudo apt-get install qemu-system-x86
    - name: run tests
      uses: actions-rs/cargo@v1.0.1
      with:
        command: test-x64

